@font-face {
  font-family: "October-Crow";
  src: url("../assets/fonts/October-Crow.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #0f0f0f url("../assets/images/background.png");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2rem;
}

.title {
  font-family: "October-Crow";
  text-align: center;
  color: #ecc839;
  text-shadow: 0px 0px 8px #ff5b00;
  font-size: 72px;
  letter-spacing: 0.1em;
}
.container-info{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  color: #fff;
}
.container-info span{
  font-size: 1.5rem;
  font-family: "Open Sans" sans-serif;
  color: #ecc839;
  text-shadow: 0px 0px 8px #ff5b00;

}
.container-card {
  display: grid;
  grid-template-columns: repeat(6, minmax(160px, 1fr));
  grid-auto-rows: 160px;
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  transition: all 0.6s;
}
.flip-card.match{
  opacity: 0.5;
  pointer-events: none;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flip-card.show .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  background: #2b0e11;
  cursor: pointer;

  border: 2px solid #ee9430;
  box-shadow: 0px 0px 8px #b63c00;
}
.flip-card-back {
  transform: rotateY(180deg);
  background: #15181f;
}

.flip-card-front span {
  color: #ecc839;
  text-shadow: 0px 0px 8px #ff5b00;
  font-size: 72px;
  line-height: 83px;
  letter-spacing: 0.1em;
  font-family: "October-Crow";
}

.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}
.modal.show{
  display: flex;
}
.content-modal {
  background: #15181f;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  align-items: center;
  position: relative;
}
.content-modal img {
  top: -20px;

  right: -20px;
  position: absolute;
}

.content-modal h1 {
  font-family: "October-Crow";
  text-align: center;
  color: #ecc839;
  text-shadow: 0px 0px 8px #ff5b00;
  font-size: 48px;
  letter-spacing: 0.1em;
}

.content-modal p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 0.1em;
  max-width: 423px;
  margin-top: 24px;
}
.content-modal button {
  background: #2b0e11;
  border: 1px solid #ee9430;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0px 0px 8px #b63c00;
  border-radius: 8px;
  color: #fff;
  padding: 8px 70px;
  font-size: 1rem;
  margin-top: 55px;
  transition: all 0.3s;
  cursor: pointer;
}
.content-modal button:hover {
  /* background: #ee9430; */
  /* border: 1px solid #2b0e11; */
  box-shadow: 0px 0px 20px #b63c00;
}

.button-music {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #15181f;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 8px #b63c00;
  cursor: pointer;
  transition: all 0.3s;
  padding: 1rem;
}

@media (max-width: 1200px) {
  .container-card {
    grid-template-columns: repeat(3, minmax(160px, 1fr));
  }
}
@media (max-width: 610px) {
  .container-card {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    gap: 1rem;
  }
  .card {
    height: 100px;
    width: 100px;
  }
}
